table{
	width: 100%;
}

.jobID, #currentJobId{
	display: none;
}

.job-title{
	cursor: pointer;
}

#searchbar input{
	width: 89.9%;
	margin-top: 20px;
	display: inline-block;
}

#searchbar #search{
	width: auto;
	display: inline-block;
}

#job-container tr{
	border-bottom: 1px solid #4E4E4E;
}

#job-body{
	border-top: 1px solid #4E4E4E;
}

.applied-job-display {
    margin-top: 5px;
    margin-bottom: 5px;
}