#searchbar input {
	width: 90.2%;
	margin-top: 20px;
	display: inline-block;
}

#searchbar #search {
	width: auto;
	display: inline-block;
}

#job-container tr {
	border-bottom: 1px solid #4E4E4E;
}

#job-body {
	border-top: 1px solid #4E4E4E;
}

#student-container tr {
    margin: 1px;
}

#student-container td {
    padding-left:3px;
    padding-right: 3px;
}

#student-body {
    margin: 1px;
}

.job-title {
    cursor: pointer;
}

.student-name {
    cursor: pointer;
}

#job-modal-title a {
    display: inline;
    cursor: pointer;
}

#job-modal-title h4 {
    display: inline;
}

#setJobProcessBody {
    font-size: 12px;
}

#hitory_data {
    cursor : pointer;
}

.remove-job {
    cursor: pointer;
}